[submodule "plog"]
	path = plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "kiero"]
	path = kiero
	url = https://github.com/Rebzzel/kiero.git
	ignore = dirty
[submodule "fmt"]
	path = fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "date"]
	path = date
	url = https://github.com/HowardHinnant/date.git
[submodule "readerwriterqueue"]
	path = readerwriterqueue
	url = https://github.com/cameron314/readerwriterqueue.git
	ignore = untracked
[submodule "tools/dataset-viewer"]
	path = tools/dataset-viewer
	url = git@github.com:dmariaa/ets2-dataset-viewer.git
